.crt {
	text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
	letter-spacing: 0.125em;
	animation-duration: 0.01s;
	animation-name: CRTDisplayFlicker;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes CRTDisplayFlicker {
	from {
		text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
	}

	to {
		text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
	}
}
