* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Nintendoid1', cursive;
}

html, body {
	width: 100vw;
	height: 100vh;
	background: #073b4c;
	overflow: hidden;
}

body {
	display: flex;
	place-content: center;
	place-items: center;
}

div#dummy {
	flex: 1;
}

div#wrapper {
	border: 1px solid #ecf0f1;
	max-height: 0px;
	animation: Startup 350ms ease-in-out 0s 1 both;
	overflow: hidden;
}

div#info-wrapper {
	flex: 1;
	overflow: hidden;
	margin: 10pt;
	color: #ecf0f1;
}

div#info-wrapper.visible #inner {
	max-width: 100vw;
	max-height: 100vh;
}

div#info-wrapper #inner {
	max-width: 0;
	max-height: 0;
	transition: max-width 1s, max-height 1s;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-width: calc(283pt + 20pt);
	margin: 10pt
}

div#info-wrapper h1 {
	text-align: center;
}

div#info-wrapper hr {
	opacity: 0.25;
	width: 70%;
	margin: 20pt auto;
	border-bottom: 1px solid #ccc;
	border-top: none;
}

div#info-wrapper strong {
	color: #ef476f;
}

div#info-wrapper .center {
	text-align: center;
	position: relative;
	margin-bottom: 10pt;
}